rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    // Pengaturan RT & RW
    match /settings/{document=**} {
      allow read, write: if true;
    }
    // Data Warga & Kartu QR Rumah
    match /warga/{document=**} {
      allow read, write: if true;
    }
    // Catatan Riwayat Transaksi Jimpitan Ronda
    match /jimpitan_records/{document=**} {
      allow read, write: if true;
    }
    // Buku Kas Mutasi Pemasukan & Pengeluaran
    match /kas_mutations/{document=**} {
      allow read, write: if true;
    }
    // Jadwal & Anggota Regu Ronda Siskamling
    match /regu_ronda/{document=**} {
      allow read, write: if true;
    }
    // Hitungan Rincian Pecahan Uang Fisik (Koin & Kertas)
    match /money_counts/{document=**} {
      allow read, write: if true;
    }
    // Sesi Status Ronda & Finish Harian
    match /ronda_sessions/{document=**} {
      allow read, write: if true;
    }
    // Kehadiran Realtime Pengguna & Petugas Online
    match /active_presences/{document=**} {
      allow read, write: if true;
    }
    // Cadangan Data Cloud Otomatis & Manual
    match /backups/{document=**} {
      allow read, write: if true;
    }
    // Arsip Rekapitulasi Bulanan
    match /monthly_archives/{document=**} {
      allow read, write: if true;
    }
    // Health Check & Uji Koneksi Database
    match /test/{document=**} {
      allow read, write: if true;
    }
  }
}
